<launch>

<node pkg="tf" type="static_transform_publisher"
	name="gps_transform"
	args="0 0 0 0 0 0 base_link gps 10" />
<node pkg="tf" type="static_transform_publisher"
                name="imu_transform"
                args="0 0 0 3.1416 -1.5708 0 base_link base_imu_link 10" />
	
<!-- Navsat Transform -->
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true" clear_params="true">
    <param name="magnetic_declination_radians" value="0"/>
    <param name="yaw_offset" value="0"/>
    <param name="zero_altitude" value="true"/>

    <param name="use_odometry_yaw" value="false"/>
    <param name="wait_for_datum" value="false"/>
   
    <param name="publish_filtered_gps" value="true"/>
    <param name="broadcast_utm_transform" value="false"/>
    
    <remap from="/imu/data" to="imu/frame_trans" />
    <remap from="/gps/fix" to="ublox_gps/fix" />
    <remap from="/odometry/filtered" to="odometry/filtered" />
 </node>

<!-- EKF Node -->
<node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_with_gps">
  <rosparam command="load" file="$(find ku2023)/params/gps_imu_localization.yaml" />
</node>
	
</launch>
